.homePage {
	display: grid;
	grid-template-rows: auto;
	grid-gap: 40px;
	margin-left: 200px;

}

.covers {
	display: flex;
	flex-wrap: nowrap;
}

.largeCovers {
	display: flex;
}	
@media (max-width:768px) {
	.homePage { 
		margin-left: 0;
	}
}