.header {
	display: grid;
	width: 90%;
	margin: 0 auto;
	padding: 1rem 0;
	grid-template-columns:32px 120px auto 120px 50px;
	grid-gap: 20px;
	align-items: center;

}
.menu_container {
	display: flex;
	justify-content: space-between;
}